<nav class="navbar navbar-expand-lg text-white bg-secondary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <ul class="navbar-nav ml-auto text-white">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/news">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://yt3.ggpht.com/yti/AHyvSCByi5tOeCVFdI4Mj0udnb22gvbkfyIhe3tssA=s88-c-k-c0x00ffffff-no-rj-mo" style="width:38px;height:38px;border-radius:50%;margin-right:5px;" class="user-avatar">Thông Phạm
          </a>
          <ul class="dropdown-menu">
             <li class="nav-item">
          <a class="nav-link" href="/news">Các khóa học</a></li>
          <li><a class="nav-link" href="courses/create">Đăng khóa học</a></li>
          <div class="dropdown-divider"></div>
          <li><a class="nav-link" href="me/stored/courses">Khóa học của tôi</a></li>
          <li><a class="nav-link" href="me/stored/news">Bài viết của tôi</a></li>
          <li><a class="nav-link" href="/commission">Commission của tôi</a></li>
          <div class="dropdown-divider"></div>
          <li><a class="nav-link" href="#">Đăng xuất</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>