<div class="mt-4">
    <h3>Đăng khóa học</h3>
    <form method="POST" action="/courses/store">

<div class=" mt-3 form-floating mb-3">
  <input type="text" name="name" class="form-control" placeholder="Tên khóa học">
  <label for="name">Tên khóa học</label>
</div>
<div class="mt-3 form-floating">
  <input type="text" name="description" class="form-control" placeholder="Mô tả">
  <label for="description">Mô tả</label>
</div>
<div class="mt-3 form-floating">
  <input type="text" name="slug" class="form-control" placeholder="Mô tả">
  <label for="slug">Slug</label>
</div>
<div class="mt-3 form-floating">
  <input type="text" name="videoid" class="form-control" placeholder="Mô tả">
  <label for="VideoId">VideoId</label>
</div>
<div class="mt-3 form-floating">
  <input type="text" name="image" class="form-control" placeholder="Mô tả">
  <label for="image">Hình ảnh</label>
</div>
<div class="mt-3 form-floating">
  <input type="text" name="level" class="form-control" placeholder="Mô tả">
  <label for="level">Trình độ</label>
</div>
<button class="mt-3 btn btn-primary" type="submit">Xác nhận đăng khóa học</button>
</div>
    </form>